<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Teen Shale Data</title>
  <meta name="author" content="Lachlan Campbell">
  <meta name="description" content="Data crunching for the Teen Shale Network.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/app.css" rel="stylesheet">
</head>
<body>
  <header class="px2 py4 bg-primary border-box">
    <h1 class="mw6 mt0 mb0 mx-auto caps white">Teen Shale Data</h1>
  </header>
  <main class="mw6 px2 py3 mx-auto">
    <div class="py3">
      <%= markdown File.open('instructions.md', 'r').read %>
    </div>
    <form action="/" method="post" enctype="multipart/form-data" class="py3 border-top">
      <label class="block mb2">
        <strong class="block h2 mb1">Now upload the data.</strong>
        <input type="file" name="tsv_data" accept="text/tab-separated-values">
      </label>
      <control data-behavior="settings_control" class="block mb2 primary" style="cursor: pointer;">
        <svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
             class="fill-primary" style="position: relative; top: 2px; margin-right: 3px;">
          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/>
        </svg>
        <strong>Settings</strong>
      </control>
      <section class="block mb2" data-behavior="settings_content">
        <strong class="block mb1">
          What are the parameters called?
          <span class="regular block">(we'll fill them in with these defaults otherwise)</span>
        </strong>
        <input type="text" name="name_1" placeholder="Date" class="field mb1 mr1">
        <input type="text" name="name_2" placeholder="Low range" class="field mb1 mr1">
        <input type="text" name="name_3" placeholder="Water temp" class="field mb1 mr1">
        <input type="text" name="name_4" placeholder="Water height" class="field mb1 mr1">
        <input type="text" name="name_5" placeholder="Air temp" class="field mb1 mr1">
      </section>
      <input name="commit" type="submit" value="Process"
             class="btn" style="width: 8rem;">
    </form>
  </main>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('[data-behavior~=settings_content]').hide(100);
      $(document).on('click', '[data-behavior~=settings_control]', function() {
        $(this).hide('fast');
        return $('[data-behavior~=settings_content]').show(200);
      });
    });
  </script>
</body>
</html>
