<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Teen Shale Data</title>
  <meta name="author" content="Lachlan Campbell">
  <meta name="description" content="Data crunching for the Teen Shale Network.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/app.css" rel="stylesheet">
</head>
<body>
  <header class="py4 px2 bg-blue center">
    <h1 class="white caps m0">Teen Shale Data</h1>
  </header>
  <main class="md-col-8 mx-auto p2" style="max-width: 48rem;">
    <%= markdown File.open("instructions.md", "r").read %>
    <form action="" method="post" enctype="multipart/form-data"
          class="md-col-6 mt3 p3 rounded center mx-auto bg-blue white dropzone">
      <label class="block mb2">
        <strong class="block mb1">Now upload your data:</strong>
        <input type="file" name="tsv_data" accept="text/tab-separated-values">
      </label>
      <input name="commit" type="submit" value="Process"
             class="btn btn-primary bg-white blue" style="width: 8rem;">
    </form>
  </main>
</body>
</html>
