<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Teen Shale Data</title>
  <meta name="author" content="Lachlan Campbell">
  <meta name="description" content="Data crunching for the Teen Shale Network.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/app.css" rel="stylesheet">
  <link href="//brick.a.ssl.fastly.net/Source+Sans+Pro:400,700" rel="stylesheet">
</head>
<body class="bg-primary">
  <header class="px2 py4 bg-white primary border-box">
    <h1 class="mw6 mt0 mb0 mx-auto caps">Teen Shale Data</h1>
  </header>
  <main class="px2 py3 mx-auto" style="max-width: 48rem;">
    <article class="mw6 mx-auto white">
      <div class="py3 border-box">
        <%= markdown File.open("instructions.md", "r").read %>
      </div>
      <form action="" method="post" enctype="multipart/form-data"
            class="py3 border-box">
        <label class="block mb2">
          <strong class="block h2 mb1">Now upload the data.</strong>
          <input type="file" name="tsv_data" accept="text/tab-separated-values">
        </label>
        <input name="commit" type="submit" value="Process"
               class="btn" style="width: 8rem;">
      </form>
    </article>
  </main>
</body>
</html>
