/*
  Basscss (http://basscss.com) with customizations
*/

input {
  font-family: inherit;
  font-size: 1rem;
  margin: 0;
}

label {
  vertical-align: middle;
}

body {
  font-family: '-apple-system', BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 100%;
  margin: 0;
  color: #444;
}

h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, .h1 { font-size: 2rem }
h2, .h2 { font-size: 1.5rem }
h3, .h3 { font-size: 1.25rem }
h4, .h4 { font-size: 1rem }

a {
  color: #0074D9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
}

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.125rem;
  padding: .5rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  -webkit-appearance: none;

  color: #fff;
  background-color: #0074D9;
  border-radius: 3px;
}

.btn:focus {
  outline: none;
  border-color: rgba(0,0,0,.125);
  box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

input,
textarea {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  vertical-align: middle;
}

input[type=text] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

textarea {
  line-height: 1.75;
  padding: .5rem .5rem;
}

.field {
  border: 1px solid #CFD8DC;
  border-radius: 3px;
}

.field:focus {
  outline: none;
  border-color: #0074D9;
}

.field:disabled {
  background-color: rgba(0,0,0,.125);
  opacity: .5;
}

.field:read-only {
  background-color: rgba(0,0,0,.125);
}

.bold    { font-weight: bold }
.regular { font-weight: normal }
.caps    { text-transform: uppercase; letter-spacing: .2em; }

.left-align   { text-align: left }
.center       { text-align: center }

.block        { display: block }
.inline-block { display: inline-block }

.border-box { box-sizing: border-box }

.m0  { margin:        0 }
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }

.m1  { margin: .5rem }
.mt1 { margin-top: .5rem }
.mr1 { margin-right: .5rem }
.mb1 { margin-bottom: .5rem }
.ml1 { margin-left: .5rem }

.m2  { margin: 1rem }
.mt2 { margin-top: 1rem }
.mr2 { margin-right: 1rem }
.mb2 { margin-bottom: 1rem }
.ml2 { margin-left: 1rem }

.m3  { margin: 2rem }
.mt3 { margin-top: 2rem }
.mr3 { margin-right: 2rem }
.mb3 { margin-bottom: 2rem }
.ml3 { margin-left: 2rem }

.m4  { margin: 4rem }
.mt4 { margin-top: 4rem }
.mr4 { margin-right: 4rem }
.mb4 { margin-bottom: 4rem }
.ml4 { margin-left: 4rem }

.mx-auto { margin-left: auto; margin-right: auto; }
.p0 { padding: 0 }

.p1  { padding: .5rem }
.py1 { padding-top: .5rem; padding-bottom: .5rem }
.px1 { padding-left: .5rem; padding-right: .5rem }

.p2  { padding: 1rem }
.py2 { padding-top: 1rem; padding-bottom: 1rem }
.px2 { padding-left: 1rem; padding-right: 1rem }

.p3  { padding: 2rem }
.py3 { padding-top: 2rem; padding-bottom: 2rem }
.px3 { padding-left: 2rem; padding-right: 2rem }

.p4  { padding: 4rem }
.py4 { padding-top: 4rem; padding-bottom: 4rem }
.px4 { padding-left: 4rem; padding-right: 4rem }

.rounded { border-radius: 3px; }

.white  { color: #fff; }
.bg-white { background-color: #fff; }

.primary  { color: #0074D9; }
.bg-primary { background-color: #0074D9; }
.fill-primary { fill: #0074D9; }


.mw6 { max-width: 36rem; }
.mw7 { max-width: 48rem; }

.border { border: 2px solid #CFD8DC; }
.border-top { border-top: 2px solid #CFD8DC; }
